body {
  background-color: #57c295;
}

.app {
  background-color: rgb(77, 105, 181);
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

}

.crossed {
  text-decoration: line-through red 2px;
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
}

h1 {
font-family: 'Montserrat', sans-serif;

}

.toDoList {
  display: flex;
  flex-direction: column;
}

.btn-add {
  margin-top: 5px;
  background: #65aa06;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.btn-delete {
  background: #d30100;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

input {
  flex: 1;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
}

